@import "../variables.scss";
.user-card {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  max-width: 1200px;
  background: linear-gradient(to bottom, $colorActive 50%, $colorGrey 50%);
  border-radius: 15px;
  height: 100px;
  margin: 10px 0;

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid $colorBody;
  }
}
.user-list {
  &__container {
    overflow: scroll;
    height: 100vh;
    overflow-x: auto;
  }
  &__container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: $colorGrey; /* or add it to the track */
  }
  &__container::-webkit-scrollbar-thumb {
    background: $colorBody;
  }
}
