@import "variables.scss";
@import url(../src/header/header.scss);
@import url(../src/nav-bar/nav-bar.scss);

* {
  margin: 0;
  padding: 0;
  color: $colorWhite;
  font-family: $gitHubFonts;
  box-sizing: border-box;
}
body {
  background-color: $colorBody;
}
a:visited,
a:focus {
  color: $colorWhite;
}
a:hover,
a:active {
  color: $colorActive;
}
a {
  text-decoration: none;
}
